io.kf.etl {

  spark {
    app.name = ""
    master = ""
  }

  postgresql {
    host = ""
    database = ""
    user = ""
    password = ""
  }

  elasticsearch {
    cluster_name = ""
    host = ""
    http_port = 9200
    transport_port = 9300
    configs {
      "es.nodes.wan.only": true
    }
  }

  hdfs {
    defaultFS = "hdfs://"
    root = ""
  }

  processors = [
    {
      name = "download"
      postgresql = ${io.kf.etl.postgresql}
      hpo {
//        postgresql = ${io.kf.etl.postgresql}
        mysql = {
          host = ""
          database = ""
          user = ""
          password = ""
        }
      }
      dump_path = ${io.kf.etl.hdfs.root}/pg_dump
    },
    {
      name = "file_centric" //used as prefix of the index name and type name
      /**
       **  each processor has a "data_path" field which defines a full URL path for the current processor to store its data.
       **  this field is optional, if not present, the default value will be ${io.kf.etl.hdfs.root}/${processor.name}
       **  A user could use this field to control where the data would be written
       **/
      data_path = ${io.kf.etl.hdfs.root}/filecentric
      write_intermediate_data = false
    },
    {
      name = "participant_entric" // used as prefix of the index name and type name
      data_path = ${io.kf.etl.hdfs.root}/participantcentric
      write_intermediate_data = false
    },
    {
      name = "index"
      elasticsearch = ${io.kf.etl.elasticsearch}
      release_tag {
        release_tag_class_name = "io.kf.etl.processors.index.transform.releasetag.impl.DateTimeReleaseTag"
        pattern = "yyyy_MM_dd_HH_mm_ss"
      }
      //      release_tag {
      //        release_tag_class_name = "io.kf.etl.processors.index.transform.releasetag.impl.AnyStringSuffixReleaseTag"
      //        pattern = "sample_aliquot_fix"
      //      }
    }
  ]

}